footer.footer_area.p_120
    .container
        .row.footer_inner
            .col-lg-5.col-sm-6
                aside.f_widget.ab_widget
                    .f_title
                        h3 About Me
                    p
                        | 熱愛自己走在各個角落的攝影師
                        br
            .col-lg-5.col-sm-6
                aside.f_widget.news_widget
                    .f_title
                        h3 Contact me
                    p
                        i.far.fa-user
                        |  許捷宜
                        br
                        i.far.fa-envelope
                        |  Jiey0312@gmail.com
                        br
                        br
            .col-lg-2
                aside.f_widget.social_widget
                    .f_title
                        h3 Follow Me
                    ul.list
                        li
                            a(href='https://www.facebook.com/jiey.hsu ')
                                span(style='font-size:2em ')
                                    i.fab.fa-facebook-square
                        li
                            a(href='https://www.instagram.com/jieyhsu/ ')
                                span(style='font-size:2em ')
                                    i.fab.fa-instagram
        center
            p
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright ©
                script.
                    document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with 
                i.fas.fa-heart
                | by 
                a(href='https://colorlib.com ', target='_blank ') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
