header.header_area
    nav.navbar.fixed-top.navbar-expand-lg.navbar-light
        .container.box_1620
            // Brand and toggle get grouped for better mobile display
            a.navbar-brand.logo_h(href='index.html')
                img(src='img/logo.png', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            // Collect the nav links, forms, and other content for toggling
            #navbarSupportedContent.collapse.navbar-collapse.offset
                ul.nav.navbar-nav.menu_nav.ml-auto
                    li.nav-item.active
                        a.nav-link(href='index.html')
                            i.fa.fa-home(aria-hidden='true')
                            |  Home
                    li.nav-item
                        a.nav-link(href='about-me.html')
                            i.fa.fa-user(aria-hidden='true')
                            |  About Me
                    li.nav-item
                        a.nav-link(href='Photography.html')
                            i.fa.fa-camera-retro(aria-hidden='true')
                            |  Photography
