html
    head
        block head
            include _includes/head_content.pug
    body
        include _includes/header.pug
        block content
        include _includes/footer.pug
        include _includes/foot_scripts.pug